<div class="bg vw-100 d-flex justify-content-between align-items-center">
    <p class="text-light p-3 fw-bold">Employee Database</p>
    <div class="d-flex justify-content-between">
      <div class="user" title="Welcome {{username}}">
        <img src="assets/whitegirl.jfif">
      </div>
      <button (click)="logout()" class="logout p-4 pt-1 pb-1 bg-danger rounded-2 border border-danger text-light me-3 fw-bold" type="logout" title="Logout">
        <i class="fas fa-sign-out-alt"></i>
      </button>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  